#!/usr/bin/env ruby

compress = File.exists? 'COMPRESS'

# Stylesheets
compile '/styles/*' do
  filter :less
  filter :rainpress if compress
end
route '/styles/*' do
  item.identifier.without_ext + '.css'
end

# Publications
compile '/publications/*' do
end
route '/publications/*.pdf' do
  item.identifier.to_s
end
route '/publications/*' do
  item.identifier.without_ext + '.bib'
end

# Index
route '/index.*' do
  '/index.html'
end

# All other files
compile '/**/*.md' do
  filter :erb
  filter :kramdown
  layout '/default.*'
  filter :externalize_links
  filter :html5small if compress
end
compile '/**/*' do
  write item.identifier.to_s
end
route '/**/*' do
  if item.binary?
    item.identifier.to_s
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
